body {
  color: white;
}

header {
  margin-bottom: 5px;
}

ul {
  color: black;
}

.top-container {
  background-color: #484848;
}

span {
  background-color: grey;
}

.top-articles {
  display: flex;
}

#a2 {
  background-color: black;
}

#a4 {
  background-color: black;
}

.mid-1 {
  display: flex;
}

#red-1 {
  background-color: black;
}

#black-1 {
  background-color: grey;
}

.mid-2 {
  display: flex;
}

#black-2 {
  background-color: grey;
}

#red-2 {
  background-color: black;
}

.blue {
  background-color: black;
}

.bottom-1 {
  background-color: #484848;
}

.bottom {
  display: flex;
}

.bottom-2,
.bottom-3,
.bottom-4 {
  background-color: grey;
}

.footer {
  background-color: black;
}
